:root {
  --fuente: 'Roboto Condensed', sans-serif;
  --colorPrimario: #e9d6c0;
  --colorSecundario: #f3e9db;
  --colorCafe: #ab5f4e;
  --colorNegro: #000;
  --colorTexto: #fff;
  --colorGris: #434c40;
  --colorGrisClaro: #69786a;
}

/* globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente);
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--colorSecundario);
}

.contenedor {
  width: min(100%, 120rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: var(--fuente);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  z-index: 5;
  align-items: center;
}

.fijo {
  position: fixed;
  background-color: var(--colorNegro);
  width: 100%;
  box-shadow: 0 .3rem .4rem #444;
}

.fondo {
  background-image: url(../img/fondo.jpg);
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

@media (min-width:768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  margin-top: 2rem;
  margin-left: 2rem;
  color: var(--colorTexto);
  text-align: center;
}

@media (min-width:768px) {
  .logo {
    text-align: left;
  }
}

.texto-logo {
  color: var(--colorTexto);
  font-size: bold;
  text-shadow: -2px -2px 1px #000;
}

.navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.link {
  font-size: 2rem;
  color: var(--colorTexto);
  margin-right: 2rem;
  cursor: pointer;
  text-align: center;
}

.link:hover {
  color: var(--colorPrimario);
}

.texto-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.titulo {
  margin-top: 10rem;
  padding: 2rem;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--colorTexto);
  text-shadow: -1px -1px 1px #000;
}

@media (min-width: 768px) {
  .titulo {
    margin-top: 0;
  }
}

.ing {
  background-color: var(--colorCafe);
  font-size: 2rem;
  padding: .5rem;
  text-shadow: none;
}

/*

 */
.section-hr {
  height: .1rem;
  max-width: 90%;
  background-image: linear-gradient(to right, transparent, var(--colorCafe), transparent);
}

/* proyectos */
.contenedor-proyectos {
  text-align: center;
  padding: 1rem;
  width: 100%;
}

/* card */
.proyectos {
  margin: 2rem;
}

@media (min-width: 1200px) {
  .proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.card {
  margin-bottom: 2rem;
  background-color: rgba(60, 59, 56, .5);
  opacity: .8;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(171, 95, 78, 0.26);
  -moz-box-shadow: 10px 10px 5px 0px rgba(171, 95, 78, 0.26);
  box-shadow: 10px 10px 5px 0px rgba(171, 95, 78, 0.26);
}

.card:hover {
  opacity: 1;
}

.image-card {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}

.visualizar {
  width: 90%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .image-card {
    background-position: left center;
  }

  .visualizar {
    justify-content: flex-start;
  }
}

.card .visualizar a, p {
  margin: 0;
  color: var(--colorNegro);
}

.icon-visualizar:hover {
  filter: invert(.5);
  cursor: pointer;
}

.invert {
  filter: invert(1);
}

@media (max-width:640px) {
  .invert {
    filter: none;
  }
}

.icon-visualizar {
  margin: 0 2rem;
  width: 5rem;
}

/* video */
.overlay {
  position: fixed;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  display: grid;
  place-items: center;
  /* ajustar vertical y horizontalmente */
}

.fijar-body {
  overflow: hidden;
}

.overlay video {
  max-height: 80%;
  max-width: 90%;
}

.btn-cerrar {
  margin: -50rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--colorSecundario);
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 50%;
}

.btn-cerrar:hover {
  cursor: pointer;
}

/* skillset */
.contenedor-skills {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--colorPrimario);
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 2rem;
}

@media (min-width: 768px) {
  .skills {
    grid-template-columns: repeat(4, 1fr);
  }
}

.skills-image {
  width: 50%;
}

.skills-image-jq {
  width: 50%;
  background-color: var(--colorTexto);
  border-radius: 50%;
}

.skills-image-5 {
  width: 60%;
}

.skills-image-gulp {
  width: 60%;
  height: auto;
  background-color: var(--colorTexto);
  border-radius: 50%;
}

/* contacto */
.contacto {
  text-align: center;
  margin-top: 2rem;
}

.perfil-contacto {
  margin-top: 2rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .perfil-contacto {
    display: flex;
  }
}

.foto-perfil {
  width: 15rem;
  border-radius: 50%;
  margin: 2rem;
}

.texto-contacto {
  margin: 2rem;
  background-color: var(--colorTexto);
  padding: 2rem;
  border-radius: 5rem;
}

.medios-contacto {
  text-align: left;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-around;
}

.parrafo-contacto {
  color: var(--colorNegro);
}

.link-contacto {
  color: var(--colorNegro);
}

.link-contacto:hover {
  color: var(--colorCafe);
}

.img-contacto {
  width: 5rem;
}

/* footer */
.footer {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--colorNegro);
  color: var(--colorTexto);
  padding: 1rem;
  text-align: center;
}
 /* NOTE: footer fijo */
/* #footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  z-index: 2000;
} */

.footer p {
  color: var(--colorTexto);
}
